body {
    background: url("images/fonhull1.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

@media (max-width: 1500px) {
    body {
        background: url("images/fon1500px.png");
        height: auto;
    }

    @media (min-width: 1200px) and (max-width: 1500px) {
        body {
            background: url("images/fon1500px.png");
        }

        @media (min-width: 400px) and (max-width: 925px) {
            body {
                background: url("images/fonmobblie.png");
            }

            @media (min-width: 250px) and (max-width: 399px) {
                body {
                    background: url("images/fonmobblie.png");
                }
            }
        }
    }
}
